:root {
    --primary: #24272b;
    --secondary: #0466c8;
    --tertiary: #fff;
    --quaternary: #000;
}

body {
    color: var(--tertiary);
    background-color: var(--primary);
    font-family: 'Montserrat', sans-serif;
}

#container-main {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: center;
}

.container {
    border-radius: 10px;
    background:#000;
    width: 300px;
    padding-left: 20px;
}


button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 5px 0;
    background-color: var(--secondary);
    color: var(--tertiary);
    width: 170px;
    border-radius: 7px;
    transition: all 1s ease-out;
}

button:hover {
    width: 230px;
}

.btn {
    margin-top: 10px;
}

.btn-google {
    color: var(--tertiary);
    animation: google-button 4s ease-out 0s infinite alternate;
}

@keyframes google-button {
    0% {
        background: #DB4437;
        opacity: 70%;
    }
    34% {
        background: #F4B400;
        opacity: 70%;
    }
    68% {
        background: #0F9D58;
        opacity: 70%;
    }
    100% {
        background: #4285F4;
        opacity: 70%;
    }
}

label {
    font-weight: 600;
}

input {
    font-family: 'Montserrat', sans-serif;
    color: var(--tertiary);
    caret-color: var(--tertiary);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 5px 10px;
    margin: 10px 0;
}

.input {
    display:block;
    transition: width 1s ease-out;
}

.input:focus {
    width: 230px;
    color: white;
}

input::placeholder {
    color: var(--tertiary);
    opacity: 70%;
}

.input-checkbox:checked {
    transform: rotate(360deg);
}

.input-checkbox {
    transition: transform 1s ease;
    width: 13px;
}

.footer {
    text-align: center;
    margin: auto;
}

span {
    cursor: pointer;
    color: var(--secondary);
}

h5 {
    margin-top: 10px;
}

h1 {
    font-size: 20px;
}

a {
    text-decoration: none;
}

hr {
    margin: 15px 0;
    width: 95%;
    border: 0.5px solid var(--primary);
}